@page
@model FeaterG.Pages.ServiceTypes.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br/><br/>

<div class="whiteBackground">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Service Type List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create</a>
        </div>
    </div>
    <div>
        @if (Model.ServiceTypeList.Count() == 0)
        {
        <p>You have no Service Type , Please Create new serves </p>
        }
        else
        {
          <table class="table table-striped border">
             <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.ServiceTypeList[0].ServiceName)</th>
                <th>@Html.DisplayNameFor(m => m.ServiceTypeList[0].Price)</th>
                 <th></th>
             </tr>
             

                   @foreach (var item in Model.ServiceTypeList)
                   {
                      <tr>
                          <td>@Html.DisplayFor(m => item.ServiceName)</td>
                          <td>@Html.DisplayFor(m => item.Price)</td>

                          @if (User.IsInRole(FeaterG.Utility.StaticDetails.AdminUser))
                          {
                              <td style="width:130px">
                                  <div class="btn-group" role="group">
                                      <a asp-page="Edite" class="btn btn-primary text-white" title="Edite" asp-route-Id="@item.Id"><i class="far fa-edit"></i></a>
                                      <a asp-page="Delete" class="btn btn-danger text-white" title="Delete" asp-route-Id="@item.Id"> <i class="far fa-trash-alt"></i></a>
                                      <a asp-page="Details" class="btn btn-success text-white" title="Details" asp-route-Id="@item.Id"> <i class="fas fa-info-circle"></i></a>
                                  </div>
                              </td>
                          }
                          else { <td></td>}
                            


                      </tr>
                   }

         </table>
        }


    </div>
</div>

